doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(href='/favicon.ico', rel='icon', type='image/x-icon')
        link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')
    body
        div.main
            block content